<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body background = "static/image.png">

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">My Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/lesfgoh"> Github</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/delta1/"> LinkedIn </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mt-5">
        <h1 class="text-center mb-4">My Projects</h1>
        <div class="row">
            <div class="col-md-4">
                <a href="https://reinforcementbandit-75e0d88ee708.herokuapp.com/entry?entry=" class="project-card">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Reinforcement Learning Game</h5>
                            <p class="card-text">Imagine for a moment that you were a gambler, playing at a successful casino. How would you spend your money?</p>
                            <p class="card-text">*Note: This project is meant for students of MH4521, Advanced Reinforcement Learning.</p>
                        </div>
                    </div>
                </a>    
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Risk Analytics Dashboard</h5>
                        <img src="{{ url_for('static', filename='telegram-cloud-photo-size-5-6332207685247811522-y.jpg') }}" alt="My Profile Picture" class="example-pic img-fluid">
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Analysing Financial Risk Using Neural Networks</h5>
                        <a class="nav-link" href="https://www.linkedin.com/posts/delta1_modelling-systemic-financial-risk-using-neural-activity-7220701240358313984-9U50?utm_source=share&utm_medium=member_desktop"> My Research Paper</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center mt-5" style = "color: white; padding-top: 700px;">
        <p>&copy; 2024 Delta - All Rights Reserved</p>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>